[Unit]
Description={{ chain }}Price Feeder
After=network-online.target

[Service]
User={{ ansible_user }}
Type=simple
Environment="ORACLE_FEEDER_KEY_PASSPHRASE={{ price_feeder_password }}"
ExecStart={{ user_dir }}/go/bin/{{ chain }}_price_feeder {{ user_dir }}/.price_feeder/{{ chain }}.toml
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target