---
- name: Display all variables/facts known for a host
  debug:
    var: hostvars[inventory_hostname]
  tags: debug

- name: Get installed {{ daemon }} version
  command: "{{ user_dir }}/go/bin/{{ daemon }} version"
  register: binary_installed_version
  changed_when: false
  failed_when: false

- name: Determine if {{ daemon }} install is needed
  set_fact:
    binary_install_needed: >-
      {{ binary_installed_version.rc != 0 or
         binary_installed_version.stdout != node_version }}

- name: Install from source
  become: false
  block:
    - name: Clone node repo
      git:
        repo: '{{ repo }}'
        dest: '{{ user_dir }}/{{ folder }}'
        version: '{{ node_version }}'
        update: yes
        force: yes
        recursive: no

    - name: Install node
      command: make install
      args:
        chdir: '{{ user_dir }}/{{ folder }}'
      environment:
        PATH: '{{ path }}'
        GOPATH: '{{ user_dir }}/go'
      when: make_overwrite is undefined

    - name: Install node make_overwrite
      shell:
        cmd: '{{ make_overwrite }}'
        chdir: '{{ user_dir }}/{{ folder }}'
      environment:
        PATH: '{{ path }}'
        GOPATH: '{{ user_dir }}/go'
      when: make_overwrite is defined
  when: 
    - binary is undefined
    - binary_install_needed

- name: download pre-installed binary
  when: 
    - binary is defined
    - binary_install_needed
  block:
    - name: Install from binary zipped
      include_tasks: binary_zip.yml
      when: binary_processing == "zip"

    - name: Install from binary tar gz
      include_tasks: binary_targz.yml
      when: binary_processing == "targz"

    - name: Install from binary
      include_tasks: binary_default.yml
      when: binary_processing == "default"
