---
- name: Display all variables/facts known for a host
  debug:
    var: hostvars[inventory_hostname]
  tags: debug

- name: Check if binary is installed
  command: which {{ user_dir }}/go/bin/{{ daemon }}
  changed_when: false
  register: binary_installed
  ignore_errors: true

- name: Install from source
  become: false
  block:
    - name: Clone node repo
      git:
        repo: '{{ repo }}'
        dest: '{{ user_dir }}/{{ folder }}'
        version: '{{ node_version }}'
        update: yes
        force: yes
        recursive: no

    - name: Install node
      command: make install
      args:
        chdir: '{{ user_dir }}/{{ folder }}'
      environment:
        PATH: '{{ path }}'
        GOPATH: '{{ user_dir }}/go'
      when: make_overwrite is undefined

    - name: Install node make_overwrite
      shell:
        cmd: '{{ make_overwrite }}'
        chdir: '{{ user_dir }}/{{ folder }}'
      environment:
        PATH: '{{ path }}'
        GOPATH: '{{ user_dir }}/go'
      when: make_overwrite is defined
  when: 
    - binary is undefined
    - binary_installed.rc not in [ 0 ]

- name: download pre-installed binary
  when: 
    - binary is defined
    - binary_installed.rc not in [ 0 ]
  block:
    - name: Install from binary zipped
      include_tasks: binary_zip.yml
      when: binary_processing == "zip"

    - name: Install from binary tar gz
      include_tasks: binary_targz.yml
      when: binary_processing == "targz"

    - name: Install from binary
      include_tasks: binary_default.yml
      when: binary_processing == "default"
