groups:
- name: Monad
  rules:
    # Critical alerts
    - alert: InstanceDown
      expr: up{job="monad"} == 0
      for: 5m
      labels:
        severity: 'critical'
      annotations:
        title: 'Instance {{ $labels.instance }} down'
        description: '{{ $labels.job }} on {{ $labels.instance }} for {{ $labels.app }} has been down for more than 5 minutes.'

    - alert: MonadBlockHeightStalled
      expr: |
        increase(monad_execution_ledger_block_num[5m]) == 0
      for: 5m
      labels:
        severity: critical
      annotations:
        summary: "Monad node: Block height stalled"
        description: "The block height (monad_execution_ledger_block_num) has not increased for 5 minutes on {{ $labels.instance }}."

    - alert: MonadSkippedBlocksHigh
      expr: |
        increase(monad_bft_txpool_create_proposal[5m]) == 0
      labels:
        severity: critical
      annotations:
        summary: "Monad node: High number of missed proposed blocks"
        description: "Instance {{ $labels.instance }} skipped more than 5 blocks in the last hour."

    # Warning alerts
    - alert: MonadStateRootLag
      expr: |
        increase(monad_state_consensus_events_rx_execution_lagging[15m]) > 0
      labels:
        severity: warning
      annotations:
        summary: "Monad node: State root validation lag"
        description: "Execution lag events (monad_state_consensus_events_rx_execution_lagging) > 0 on {{ $labels.instance }} in the last 15 minutes."

    - alert: MonadTimestampValidationFailures
      expr: |
        increase(monad_state_consensus_events_failed_ts_validation[15m]) > 0
      labels:
        severity: warning
      annotations:
        summary: "Monad node: Timestamp validation failures"
        description: "Timestamp validation failures (monad_state_consensus_events_failed_ts_validation) > 0 on {{ $labels.instance }} in the last 15 minutes."

    - alert: MonadBlockSyncResponses
      expr: |
        increase(monad_state_blocksync_events_payload_response_successful[15m]) > 0
      labels:
        severity: warning
      annotations:
        summary: "Monad node: Blocksync responses observed"
        description: "Blocksync successful responses (monad_state_blocksync_events_payload_response_successful) > 0 on {{ $labels.instance }} in the last 15 minutes."

    - alert: MonadStateSyncInProgress
      expr: |
        monad_statesync_syncing > 0
      labels:
        severity: warning
      annotations:
        summary: "Monad node: State sync in progress"
        description: "monad_statesync_syncing > 0 on {{ $labels.instance }} indicates state sync is not complete."