- name: Ensure that the folder does not exist
  file:
    path: '{{ user_dir }}/{{ folder }}'
    state: absent

- name: Initialize Node
  command: '{{ daemon }} init {{ node_name }} --chain-id {{ chain_id }} --home {{ user_dir }}/{{ folder }} {{ custom_init_params }}'
  environment:
    PATH: '{{ path }}'

- name: Download config file
  get_url:
    url: '{{ config_file }}'
    dest: '{{ user_dir }}/{{ folder }}/config/config.toml'
    mode: '0644'
  when: config_file is defined

- name: Download app file
  get_url:
    url: '{{ app_file }}'
    dest: '{{ user_dir }}/{{ folder }}/config/app.toml'
    mode: '0644'
  when: app_file is defined

- name: Print addrbook.json
  debug:
    msg: 'Downloading {{ addrbook_file }}'
  when: addrbook_file is defined

- name: Download addrbook.json file
  get_url:
    url: '{{ addrbook_file }}'
    dest: '{{ user_dir }}/{{ folder }}/config/addrbook.json'
    mode: '0644'
  when: addrbook_file is defined

- name: Update minimum gas price on config file
  lineinfile:
    path: '{{ user_dir }}/{{ folder }}/config/app.toml'
    regexp: '^minimum-gas-prices ='
    line: 'minimum-gas-prices = "{{ minimum_gas_price }}"'
    state: present
  when: minimum_gas_price is defined

- name: Print genesis.json
  debug:
    msg: 'Downloading {{ genesis }}'
  when: genesis_processing is undefined

- name: regular genesis download
  include_tasks: genesis_default.yml
  when: genesis_processing is undefined

- name: zip genesis download
  include_tasks: genesis_zip.yml
  when: genesis_processing is defined and genesis_processing == "zip"

- name: gz genesis download
  include_tasks: genesis_gz.yml
  when: genesis_processing is defined and genesis_processing == "gz"

- name: targz genesis download
  include_tasks: genesis_targz.yml
  when: genesis_processing is defined and genesis_processing == "targz"

- name: Set chain_id
  command: '{{ user_dir }}/go/bin/{{ daemon }} config chain-id {{ chain_id }} --home {{ user_dir }}/{{ folder }}'
  ignore_errors: true

- name: Add sync_info alias command
  lineinfile:
    path: '{{ user_dir }}/.bash_aliases'
    line: "alias sync_info_{{ service_prefix }}='curl -s http://localhost:{{ custom_port_prefix }}57/status | jq .result.sync_info'"
    regexp: "^alias sync_info_{{ service_prefix }}='curl -s http:\\/\\/localhost:{{ custom_port_prefix }}57\\/status \\| jq .result.sync_info'$"
    state: present
    insertafter: EOF
    create: True

- name: Add logs alias command
  lineinfile:
    path: '{{ user_dir }}/.bash_aliases'
    line: "alias logs_{{ service_prefix }}='journalctl -f -u {{ cosmovisor_service_name }} --no-hostname -o cat'"
    regexp: "^alias logs_{{ service_prefix }}='journalctl -f -u {{ cosmovisor_service_name }} --no-hostname -o cat'$"
    state: present
    insertafter: EOF
    create: True

- name: Add restart alias command
  lineinfile:
    path: '{{ user_dir }}/.bash_aliases'
    line: "alias restart_{{ service_prefix }}='sudo systemctl restart {{ cosmovisor_service_name }}'"
    regexp: "^alias restart_{{ service_prefix }}='sudo systemctl restart {{ cosmovisor_service_name }}'$"
    state: present
    insertafter: EOF
    create: True
