#!/bin/bash

date=$(date '+%Y-%m-%d %H:%M:%S')

echo "$date [INFO] Starting snapshot process"

# prune node
echo "Stopping {{ cosmovisor_service_name }} service..."
sudo systemctl stop {{ cosmovisor_service_name }}
sleep 5
echo "Prunning data..."
{{ user_dir }}/go/bin/cosmprund prune {{ user_dir }}/{{ folder }}/data

# Get block height
BLOCK_HEIGHT=$(cosmprund db-info {{ user_dir }}/{{ folder }}/data | jq -r .last_block_height)

# Compress the folder
echo "Compressing data..."
#FILENAME=$(echo {{ chain }}_${BLOCK_HEIGHT}.tar.lz4)
FILENAME={{ chain }}_latest.tar.lz4
WASM_FILENAME={{ chain }}_wasmonly.tar.lz4
cd {{ user_dir }}/{{ folder }}

{% if wasm is defined and wasm == "outside" %}
tar --exclude=wasm/wasm/cache -cf - data wasm | lz4 > {{ snapshot_dir }}/$FILENAME
tar --exclude=wasm/wasm/cache -cf - wasm | lz4 > {{ snapshot_dir }}/$WASM_FILENAME

{% elif wasm is defined and wasm == "inside" %}
tar --exclude=data/wasm/cache -cf - data | lz4 > {{ snapshot_dir }}/$FILENAME
cd {{ user_dir }}/{{ folder }}/data
tar --exclude=wasm/cache -cf - wasm | lz4 > {{ snapshot_dir }}/$WASM_FILENAME

{% else %}
tar -cf - data | lz4 > {{ snapshot_dir }}/$FILENAME
{% endif %}

# Create metadata file
echo "### Snapshot Metadata for {{ chain }}" > {{ snapshot_dir }}/metadata.txt
echo "FILENAME: $FILENAME" >> {{ snapshot_dir }}/metadata.txt
echo "CREATED ON: $date" >> {{ snapshot_dir }}/metadata.txt
echo "BLOCK_HEIGHT: $BLOCK_HEIGHT" >> {{ snapshot_dir }}/metadata.txt

# Restart the service
sudo systemctl start {{ cosmovisor_service_name }}

# Transfer the file and then remove the file
echo "Uploading tar files..."
rclone copy {{ snapshot_dir }}/$FILENAME {{ snapshot_endpoint }}/{{ network }}/{{ chain }}/
rclone copy {{ snapshot_dir }}/metadata.txt {{ snapshot_endpoint }}/{{ network }}/{{ chain }}/
#rclone --exclude $FILENAME delete {{ snapshot_endpoint }}/{{ network }}/{{ chain }}/
echo "Cleaning up..."
rm {{ snapshot_dir }}/$FILENAME
rm {{ snapshot_dir }}/metadata.txt

{% if wasm is defined %}
rclone copy {{ snapshot_dir }}/$WASM_FILENAME {{ snapshot_endpoint }}/{{ network }}/wasm/{{ chain }}/
#rclone --exclude $WASM_FILENAME delete {{ snapshot_endpoint }}/{{ network }}/wasm/{{ chain }}/
rm {{ snapshot_dir }}/$WASM_FILENAME
{% endif %}