#!/bin/bash

# prune node
sudo systemctl stop {{ cosmovisor_service_name }}
sleep 5
{{ user_dir }}/go/bin/cosmprund prune {{ user_dir }}/{{ folder }}/data
sleep 5

# Make sure the service is running
sudo systemctl start {{ cosmovisor_service_name }}
sleep 10

# Get block height
BLOCK_HEIGHT=$(curl -s http://localhost:{{ custom_port_prefix }}57/status | jq -r .result.sync_info.latest_block_height)

# Stop service
sudo systemctl stop {{ cosmovisor_service_name }}

# Compress the folder
#FILENAME=$(echo {{ chain }}_${BLOCK_HEIGHT}.tar.lz4)
FILENAME={{ chain }}_latest.tar.lz4
WASM_FILENAME={{ chain }}_wasmonly.tar.lz4
cd {{ user_dir }}/{{ folder }}

{% if wasm is defined and wasm == "outside" %}
tar --exclude=wasm/wasm/cache -cvf - data wasm | lz4 > {{ snapshot_dir }}/$FILENAME
tar --exclude=wasm/wasm/cache -cvf - wasm | lz4 > {{ snapshot_dir }}/$WASM_FILENAME

{% elif wasm is defined and wasm == "inside" %}
tar --exclude=data/wasm/cache -cvf - data | lz4 > {{ snapshot_dir }}/$FILENAME
cd {{ user_dir }}/{{ folder }}/data
tar --exclude=wasm/cache -cvf - wasm | lz4 > {{ snapshot_dir }}/$WASM_FILENAME

{% else %}
tar -cvf - data | lz4 > {{ snapshot_dir }}/$FILENAME
{% endif %}

# Create metadata file
echo "### Snapshot Metadata for {{ chain }}" >> {{ snapshot_dir }}/metadata.txt
echo "FILENAME: $FILENAME" >> {{ snapshot_dir }}/metadata.txt
echo "CREATED ON: $(date -d "$(stat -c "%y" $FILENAME)" "+%Y-%m-%d %H:%M:%S")" >> {{ snapshot_dir }}/metadata.txt
echo "BLOCK_HEIGHT: $BLOCK_HEIGHT" >> {{ snapshot_dir }}/metadata.txt

# Restart the service
sudo systemctl start {{ cosmovisor_service_name }}

# Transfer the file and then remove the file
rclone copy {{ snapshot_dir }}/$FILENAME {{ snapshot_endpoint }}/{{ network }}/{{ chain }}/
rclone copy {{ snapshot_dir }}/metadata.txt {{ snapshot_endpoint }}/{{ network }}/{{ chain }}/
#rclone --exclude $FILENAME delete {{ snapshot_endpoint }}/{{ network }}/{{ chain }}/
rm {{ snapshot_dir }}/$FILENAME

{% if wasm is defined %}
rclone copy {{ snapshot_dir }}/$WASM_FILENAME {{ snapshot_endpoint }}/{{ network }}/wasm/{{ chain }}/
#rclone --exclude $WASM_FILENAME delete {{ snapshot_endpoint }}/{{ network }}/wasm/{{ chain }}/
rm {{ snapshot_dir }}/$WASM_FILENAME
{% endif %}