---
- name: Install ufw
  apt:
    name: ufw
    state: present
    update_cache: yes

- name: Install fail2ban
  apt:
    name: fail2ban
    state: present
    update_cache: yes

- name: Restart fail2ban
  service:
    name: fail2ban
    state: restarted
    enabled: true
  changed_when: false

- name: Set incoming default
  ufw:
    default: deny
    direction: incoming

- name: Set outgoing default
  ufw:
    default: allow
    direction: outgoing

- name: Open ssh port
  ufw:
    rule: allow
    port: '{{ ssh_port }}'
    proto: tcp
    src: '{{ bastion_ip }}'
    comment: 'SSH Bastion'
  when:
    - type != 'bastion'
  tags:
    - firewall

- name: Open ssh port (backup)
  ufw:
    rule: allow
    port: 22
    proto: tcp
    src: '{{ bastion_ip }}'
    comment: 'SSH Bastion (backup)'
  when:
    - type != 'bastion'
  tags:
    - firewall

- name: Open horcrux priv_validator_laddr ports
  ufw:
    rule: allow
    port: 22110:22160
    proto: tcp
    src: '{{ private_network_cidr }}'
    comment: 'Horcrux Ports'
  when:
    - type == 'sentry'
    - private_network_cidr is defined
  tags:
    - firewall

- name: Open bastion ssh ports
  ufw:
    rule: allow
    port: '{{ ssh_port }}'
    proto: tcp
    src: '{{ item }}'
    comment: 'Access to bastion from personal ip'
  loop: '{{ allowed_ips }}'
  when:
    - type == 'bastion'
  tags:
    - firewall

- name: Open prometheus node-exporter port
  ufw:
    rule: allow
    port: 9100
    proto: tcp
    src: '{{ telemetry_server }}'
    comment: 'Prometheus node-exporter port'
  when:
    - telemetry_server is defined
    - node_exporter|bool == true
  tags:
    - firewall
    - prometheus

- name: Enable firewall
  ufw:
    state: enabled
