- name: Create directory
  file:
    path: '{{ snapshot_dir }}'
    state: directory
    mode: '0755'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'

- name: Copy snapshot script
  template:
    src: 'snapshot.sh.j2'
    dest: '{{ snapshot_dir }}/{{ chain }}.sh'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0700'

- name: Create cronjob
  cron:
    user: '{{ ansible_user }}'
    name: '{{ chain }} snapshot'
    minute: '{{ snapshot_minute }}'
    hour: '{{ snapshot_hour }}'
    job: '/bin/bash {{ snapshot_dir }}/{{ chain }}.sh >> {{ snapshot_dir }}/cron.log 2>&1'
